In [6]:
import pandas as pd

df = pd.read_csv('congress-terms.csv', on_bad_lines='skip')
print(df.shape)
df.head()

(18617, 13)

,congress,chamber,bioguide,firstname,middlename,lastname,suffix,birthday,state,party,incumbent,termstart,age
0,80,house,M000112,Joseph,Jefferson,Mansfield,NaN,1861-02-09,TX,D,Yes,1947-01-03,85.9
1,80,house,D000448,Robert,Lee,Doughton,NaN,1863-11-07,NC,D,Yes,1947-01-03,83.2
2,80,house,S000001,Adolph,Joachim,Sabath,NaN,1866-04-04,IL,D,Yes,1947-01-03,80.7
3,80,house,E000023,Charles,Aubrey,Eaton,NaN,1868-03-29,NJ,R,Yes,1947-01-03,78.8
4,80,house,L000296,William,NaN,Lewis,NaN,1868-09-22,KY,R,No,1947-01-03,78.3

In [7]:
new=df[df.state=='GA']
new=new.loc[:,['congress','chamber','termstart']].reset_index(drop=True)
new.head()

   congress chamber   termstart
0        80   house  1947-01-03
1        80   house  1947-01-03
2        80   house  1947-01-03
3        80   house  1947-01-03
4        80   house  1947-01-03

In [15]:
%%timeit -r 100 -n 1000
df.age.mean() # outputs 53.31484127410438

79.5 µs ± 8.94 µs per loop (mean ± std. dev. of 100 runs, 1,000 loops each)

In [16]:
%%timeit -r 3 -n 10
total=0
for i in range(len(df)):
    total+=df.at[i,'age']
total/df.shape[0] # outputs 53.31484127410438

97.7 ms ± 5.38 ms per loop (mean ± std. dev. of 3 runs, 10 loops each)