In [164]:
import pandas as pd

df = pd.read_csv('congress-terms.csv', on_bad_lines='skip')
print(df.shape)
df.head()

(18617, 13)

,congress,chamber,bioguide,firstname,middlename,lastname,suffix,birthday,state,party,incumbent,termstart,age
0,80,house,M000112,Joseph,Jefferson,Mansfield,NaN,1861-02-09,TX,D,Yes,1947-01-03,85.9
1,80,house,D000448,Robert,Lee,Doughton,NaN,1863-11-07,NC,D,Yes,1947-01-03,83.2
2,80,house,S000001,Adolph,Joachim,Sabath,NaN,1866-04-04,IL,D,Yes,1947-01-03,80.7
3,80,house,E000023,Charles,Aubrey,Eaton,NaN,1868-03-29,NJ,R,Yes,1947-01-03,78.8
4,80,house,L000296,William,NaN,Lewis,NaN,1868-09-22,KY,R,No,1947-01-03,78.3

However, we don't care about alot of this stuff. So how do we get rid of it?

Remeber from Earlier in the year we used List-Splicing to edit and access lists, its the same here! Lets look at a quick refresher

Splicing follows the Pattern of list[Start(Inclusive) : Stop(Exclusive) : Step]. Its like declaring a for loop!

In [165]:
a=[0,1,2,3,4,5,6,7,8,9]

#lets print the first 5 elements of the list!
print(a[0:5:1])
print(a[0:5])
#step always defaults to 1

#lets print the next 5 elements of the list!
print("#"*10)
print(a[5:10:1])
print(a[5:10])
print(a[5:])

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
##########
[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]

Lets apply this to the Dataframe Now!

In [166]:
df.iloc[2:5]

,congress,chamber,bioguide,firstname,middlename,lastname,suffix,birthday,state,party,incumbent,termstart,age
2,80,house,S000001,Adolph,Joachim,Sabath,NaN,1866-04-04,IL,D,Yes,1947-01-03,80.7
3,80,house,E000023,Charles,Aubrey,Eaton,NaN,1868-03-29,NJ,R,Yes,1947-01-03,78.8
4,80,house,L000296,William,NaN,Lewis,NaN,1868-09-22,KY,R,No,1947-01-03,78.3

We can do the same with columns by adding a second argument

In [167]:
df.iloc[2:5,0:2]

   congress chamber
2        80   house
3        80   house
4        80   house

So now we can trip down our dataframe to something more useful

In [168]:
df.iloc[:,0:2].head()

   congress chamber
0        80   house
1        80   house
2        80   house
3        80   house
4        80   house

In [169]:
newdf=df.iloc[:,0:2]
otherCols=df.iloc[:,7:]
newdf=newdf.join(otherCols)
newdf.head()

   congress chamber    birthday state party incumbent   termstart   age
0        80   house  1861-02-09    TX     D       Yes  1947-01-03  85.9
1        80   house  1863-11-07    NC     D       Yes  1947-01-03  83.2
2        80   house  1866-04-04    IL     D       Yes  1947-01-03  80.7
3        80   house  1868-03-29    NJ     R       Yes  1947-01-03  78.8
4        80   house  1868-09-22    KY     R        No  1947-01-03  78.3

This is a good start, but there is an easier way to do this using df.loc

df.loc uses the names of rows and columns rather than their indices

In [170]:
#newdf=df.columns[]
print(df.iloc[2,0]) #Similar to n-d array
print(df.loc[2,'congress']) #Similar to dictionary

80
80

So to get the simpified array we can use

In [171]:

newdf=df.loc[:,['congress','chamber','birthday','state','party','incumbent','termstart','age']]
newdf.head()

   congress chamber    birthday state party incumbent   termstart   age
0        80   house  1861-02-09    TX     D       Yes  1947-01-03  85.9
1        80   house  1863-11-07    NC     D       Yes  1947-01-03  83.2
2        80   house  1866-04-04    IL     D       Yes  1947-01-03  80.7
3        80   house  1868-03-29    NJ     R       Yes  1947-01-03  78.8
4        80   house  1868-09-22    KY     R        No  1947-01-03  78.3

However, Things can get a little weird

In [172]:
newdf=df.loc[50:,['congress','chamber','birthday','state','party','incumbent','termstart','age']]
newdf.loc[:5]

Empty DataFrame
Columns: [congress, chamber, birthday, state, party, incumbent, termstart, age]
Index: []

What is going on? Well let's look at the dataframe using iloc

In [173]:
newdf.iloc[:5]

    congress chamber    birthday state party incumbent   termstart   age
50        80   house  1880-12-18    NC     D       Yes  1947-01-03  66.0
51        80   house  1880-12-31    MO     D       Yes  1947-01-03  66.0
52        80   house  1881-01-30    MA     R       Yes  1947-01-03  65.9
53        80   house  1881-02-08    IL     R       Yes  1947-01-03  65.9
54        80   house  1881-03-19    MA     R       Yes  1947-01-03  65.8

When making new dataframes via subsets of larger dataframe, the orginal rows indices are preserved as a new column. We can get around this in a few ways

Reset_index will reindex the dataframe will preserving the old information as a new column

In [174]:
temp=newdf.reset_index()
print(temp.loc[0:5])

   index  congress chamber    birthday state party incumbent   termstart   age
0     50        80   house  1880-12-18    NC     D       Yes  1947-01-03  66.0
1     51        80   house  1880-12-31    MO     D       Yes  1947-01-03  66.0
2     52        80   house  1881-01-30    MA     R       Yes  1947-01-03  65.9
3     53        80   house  1881-02-08    IL     R       Yes  1947-01-03  65.9
4     54        80   house  1881-03-19    MA     R       Yes  1947-01-03  65.8
5     55        80   house  1881-11-04    OH     R        No  1947-01-03  65.2

We can also tell python to not preserve the old indexcies with the drop=True option

In [175]:
temp=newdf.reset_index(drop=True)
print(temp.loc[0:5])

   congress chamber    birthday state party incumbent   termstart   age
0        80   house  1880-12-18    NC     D       Yes  1947-01-03  66.0
1        80   house  1880-12-31    MO     D       Yes  1947-01-03  66.0
2        80   house  1881-01-30    MA     R       Yes  1947-01-03  65.9
3        80   house  1881-02-08    IL     R       Yes  1947-01-03  65.9
4        80   house  1881-03-19    MA     R       Yes  1947-01-03  65.8
5        80   house  1881-11-04    OH     R        No  1947-01-03  65.2

Great! Now that we've covered most of the basics on accessing tables, let's talk about how we can do some easy filtering. In this first example let's find all the democrates in the dataframe

In [176]:
temp=temp[temp.party=='D'].reset_index(drop=True)
temp.head()

   congress chamber    birthday state party incumbent   termstart   age
0        80   house  1880-12-18    NC     D       Yes  1947-01-03  66.0
1        80   house  1880-12-31    MO     D       Yes  1947-01-03  66.0
2        80   house  1882-01-06    TX     D       Yes  1947-01-03  65.0
3        80   house  1882-03-29    MS     D       Yes  1947-01-03  64.8
4        80   house  1882-04-05    NC     D       Yes  1947-01-03  64.7

In [177]:
temp=temp[temp.age<50].reset_index(drop=True)
temp.head()

   congress chamber    birthday state party incumbent   termstart   age
0        80   house  1897-07-11    AL     D       Yes  1947-01-03  49.5
1        80   house  1897-07-26    NC     D       Yes  1947-01-03  49.4
2        80   house  1897-08-30    KY     D       Yes  1947-01-03  49.3
3        80   house  1897-11-18    TN     D       Yes  1947-01-03  49.1
4        80   house  1897-12-21    LA     D       Yes  1947-01-03  49.0

In [178]:
temp['age'].mean()

42.78558602280988

In [179]:
print('butts')

butts